.ge-lab-style{
  overflow-x: hidden; height: 100%;
  background: #fff;
  color: black;
  padding:0px;
}

.ge-lab-fotter-style{
  background-color: #ffffff;
  color:black;
  padding: 0px;
  /* position: absolute; */
  right: 0px;
  left: 0px;
  width: 100%;
  bottom: 0px;
  margin: 0px;
}

.boardSvg {
  width: 100%;
  height: 350px;
}
.boardSvg-xs{
  width: 100%;
  height: 200px;
}