.top-level-classView{
  overflow-x: hidden; height: 100%; padding: 24px; background-color: #1f253d; color: #203e54;
}


.sub-cnt-classView{
  margin-bottom: 25px;
  margin: 0 auto;
  color:white;
  padding:8px;
  max-width:950px;
  border-radius: 5px;
  background: #394264;
  border-radius: 5px;
}