// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower


@import "bourbon/bourbon";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



 .account-container {
   height: 100vh;
   width: 100vw;
   max-width: 100%;
   background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/194122/07t2mb2.gif');

   .gold{
     background-image: url('dImages/medal/gold%20medal.png') !important;
     background-size: 80px 80px;

     background-repeat: no-repeat;
   }
   .silver{
     background-image: url('dImages/medal/silver%20medal.png');
     background-size: 80px 80px;

     background-repeat: no-repeat;
   }
   .branoz{
     background-size: 80px 80px;

     background-repeat: no-repeat;
     background-image: url('dImages/medal/bronze%20medal.png');
   }
 }



.content{
  & img{ margin:10px;}
  & iframe{ margin:10px; height:500px;}
  & md-content{background:white;}
  p{margin:0px;}
}


.box{
  border-radius: 40px;
  border: 1px solid #2aa4b2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  height: 40px;
  background-color: #8fdce5;
  background-image: -webkit-linear-gradient(#8fdce5, #3dc3d1);
  background-image: linear-gradient(#8fdce5, #3dc3d1);
  width: 40px;

  @include animation(scale 1.0s ease-in, slide 2.0s ease);

  // The above outputs the same CSS as using independent, granular mixins.
  @include animation-name(scale, slide);
  @include animation-duration(2s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);
}
.box:hover {
  // Animation shorthand works the same as the CSS3 animation shorthand
  @include animation(scale 1.0s ease-in, slide 2.0s ease);

  // The above outputs the same CSS as using independent, granular mixins.
  @include animation-name(scale, slide);
  @include animation-duration(2s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);
}


.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
}

.slogan {
  display: block;
  overflow: hidden;
  position: relative;
  width: 0;
  margin: 0 auto;
  padding: 2px 0 0;
  font-family: 'Courier New', monospace;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  border-right: 6px solid #27ae60;
  @include animation-name(blink-start, typing, blink-end);
  @include animation-duration(1s, 1s, 1s);
  @include animation-timing-function(linear, steps(13, end), linear);
  @include animation-iteration-count(1,1,infinite);
  @include animation-delay(0s, 1s, 2s);
  @include animation-fill-mode(forwards);

  span {
    display: block;
    width: 260px;
  }
}

@include keyframes(typing) {
  from { width: 0; }
  to   { width: 270px; }
}

@include keyframes(blink-start) {
  from, to { border-color: #27ae60; }
  50% { border-color: transparent; }
}

@include keyframes(blink-end) {
  from, to { border-color: #27ae60; }
  50% { border-color: transparent; }
}