.logo_container{
  margin-top:80px;
  width:300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.header-logo{
  text-decoration: none;
  span {
    text-decoration: none;
  }
}

md-whiteframe {
  background: #fff;
  margin: 10px;
  padding: 20px; }

.device {
  width:70%;
  height:200px;
  background-color:#111;
  position:relative;
  text-align:center;
  margin:20px auto;
  font-size: 1.5em;
  display: table;
  border: 1px solid #555;
}

.device p {
  display: table-cell;
  vertical-align: middle;
}

.boxResponsive {
  cursor:pointer;
  width:100%;
  height:100%;
  position:absolute;
  color:#ccc;
  display:table;
}

.boxResponsive code {
  font-size: 1.3em;
}

.red {
  background-color:#833;
}

/////////////////
// !Required! Globals
// ====================================================================

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.app {
  // scroll trick
  overflow-y: scroll;
  height: 100vh;
  // end
}


// Useless Demo Styles. Seriously they don't affect a thing.
// ====================================================================
//
//$gutter: 30px;
//$whsp: $gutter;
//$scrollbar_width: 12px;
//$scrollbar_track_color: #1D3434;
//$scrollbar_thumb_color: #88CE02;
//
//::-webkit-scrollbar {
//  width: $scrollbar_width;
//}
//::-webkit-scrollbar-track {
//  background: rgba(darken($scrollbar_track_color, 6%), 0.8);
//}
//::-webkit-scrollbar-thumb {
//  background: $scrollbar_thumb_color;
//}
//::-webkit-scrollbar-button {
//  background: $scrollbar_thumb_color;
//}
//::-webkit-scrollbar-corner {
//  background: $scrollbar_thumb_color;
//}
//
//::selection {
//  text-shadow: none;
//  background: #88CE02;
//  color: #EFEFEF;
//}
//
//.app {
//
//}
//
//a {
//  font-weight: 600;
//  text-decoration: none;
//  color: #449800;
//  &:hover {
//    text-decoration: underline;
//    color: #88CE02;
//  }
//}
//
//.dragaebel-nav {
//  box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.54), -1px 0 4px rgba(247, 238, 238, 0.05);
//  padding: $whsp;
//  font-size: 16px;
//}
//
//.dragaebel-nav__item {
//  display: block;
//  font-size: 14px;
//  line-height: 1.5;
//  color: white;
//  &:not(:last-child) {
//    margin-bottom: $whsp/2;
//  }
//}


// !Required Styles!
// ====================================================================

$dragaebel-menu-width: 180px;
$dragaebel-menu-bg: #1D2B2B;
$dragaebel-gutter: 30px;

.dragaebel-lcontainer {
  padding: 0 calc(50% - #{$dragaebel-gutter}*11);
  padding-top: 20px;
}

.dragaebel-toggle {
  display: flex;
  justify-content: center;
  margin-left: 80%;
  position: relative;
  top: 0;
  transform: translateY(-80px);
}

// Allow nav to open when JS fails
.no-js .dragaebel-nav:target {
  margin-right: 0;
}

.dragaebel-nav {
  height: 100vh;
  margin-right: -$dragaebel-menu-width; //  most consistent in testing over translateX(100%)
  -ms-overflow-style: none; // hide scrollbar in IE
  overflow-y: auto; // when viewport height decreases scroll the overflow.
  position: fixed;
  top: 0;
  right: 0;
  width: $dragaebel-menu-width;
  background: $dragaebel-menu-bg;
}

.dragaebel-nav::-webkit-scrollbar {
  width: 0 !important; // hide scrollbar in Binky and WebKitty
}


.menu-btn1 {
  background-color: white;
  color: #203e54;
  padding: 6px 6px 6px 6px;
  margin: 6px 8px 6px 8px;
  max-width: 340px;
  min-width: 320px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}
.menu-btn1:not([disabled]):hover {
  background-color: rgba(255, 101, 58, 0.96);
  color: white;
}
.menu-btn1[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

.menu-container{
  margin-top:50px;
}