.register-container{
  z-index: 8;
  width:100%;
  height:100%;
  position: fixed;
  background-image: url('dImages/sdstate/sdstate.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity:0.7;
}