/node_modules
node_modules
dist
.tmp
.sass-cache
bower_components
.idea
/surveyResult/
/sh/
/motion/
/docker/
/back/
/.sass-cache/
/.tmp/
/.editorconfig
/.firebaserc
/.gitattributes
/.yo-rc.json
/codepen.md
