<footer class="mdl-mega-footer" style="background-color:#1f253d;
    padding: 0px;
    /* position: absolute; */
    right: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    margin: 0px;">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Fast Menu</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#/account">Account</a></li>
                <li><a href="#/course-detail/-KIMnC0W_09BA9RQrjmq">2016 Classes</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Policies</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#/store-policy">Terms</a></li>
                <li><a href="#/store-policy">Policy</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">FAQ</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#/">FAQ</a></li>
                <li><a href="#/">Feedback</a></li>
                <li><a href="#/store-policy">Contact us</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Information</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#/sitemap">Sitemap</a></li>
                <li><a href="#/about">People</a></li>
            </ul>
        </div>

    </div>
    <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">SDSU Data Camp <br>000-000-0000<br>pbshop1001@GMAIL.COM</div>

    </div>


</footer>