<div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
    <h2 class="titular">MENU BOX</h2>
    <ul class="menu-box-menu">
        <li>
            <a class="menu-box-tab">
                <md-icon class="icon" md-svg-src="dImages/ionicIcons/person.svg"></md-icon>
                <span>Comments</span>
                <div class="menu-box-number">{{boxMenu.messages.length}}</div>
            </a>
        </li>
        <li>
            <a class="menu-box-tab">
                <md-icon class="icon" md-svg-src="dImages/ionicIcons/person.svg"></md-icon>
                <span>Bookmark</span>
                <div class="menu-box-number">{{boxMenu.messages.length}}</div>
            </a>
        </li>
        <li>
            <a class="menu-box-tab">
                <md-icon class="icon" md-svg-src="dImages/ionicIcons/person.svg"></md-icon>
                <span>Progress</span>
                <div class="menu-box-number">{{boxMenu.messages.length}}</div>
            </a>
        </li>
    </ul>
</div>