<!-- HEADER -->
<!-- header.scss 10/1 (Kevin) : remove all style attribute -->
<section class="headContainer" layout="row" ng-cloak>
	<div class="head-title" style="">
			<a href="/">
					<sapn class="icon entypo-chart-line scnd-font-color"></sapn>
					<span> SDSU Statistics </span>
			</a>
	</div>
	<div flex></div>
	<div class="header-menu-item">
		<a href="#!/course-detail/-KIMnC0W_09BA9RQrjmq">
				<span class="icon fontawesome-user scnd-font-color"></span>
				<span> R tutorial </span>
		</a>
	</div>
	<!-- <div class="header-menu-item">
		<a href="#!/about">
				<span class="icon fontawesome-user scnd-font-color"></span>
				<span> About </span>
		</a>
	</div> -->
	<div class="header-menu-item" hide-xs ng-hide-auth style="margin-right:20px;">
		<a href="#!/login">
			<span class="icon fontawesome-user scnd-font-color"></span>
			<span> Login </span>
		</a>
	</div>
	<div class="header-menu-item" hide-xs ng-show-auth>
		<a href="#!/account">
			<span class="icon fontawesome-user scnd-font-color"></span>
			<span> Account </span>
		</a>
	</div>
	<div class="header-menu-item" hide-xs ng-show-auth>
		<a ng-click="logout()">
			<span class="icon fontawesome-user scnd-font-color"></span>
			<span> Logout </span>
		</a>
	</div>
	<md-menu class="header-dropdown-menu" hide-gt-xs md-position-mode="target-right target">
		<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			<md-icon class="header-dropdown-menu-title" md-menu-origin md-svg-src="dImages/ionicIcons/android-menu.svg"></md-icon>
		</md-button>
		<md-menu-content width="4" >
			<md-menu-item ng-repeat="item in menus">
					<md-button ng-click="actionMenu(item)">
						<div layout="row" flex>
							<p flex>Option {{item.name}}</p>
							<md-icon class="header-drop-menu-item" md-menu-align-target md-svg-src="dImages/ionicIcons/android-menu.svg"></md-icon>
						</div>
					</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</section>