<!-- HEADER -->
<!-- header.scss 10/1 (Kevin) : remove all style attribute -->
<section class="headContainer" layout="row" ng-cloak>
  <div class="head-title">
    <a href="/">
      <span class="b"> SDSU Statistics </span>
    </a>
  </div>
  <div flex></div>
  <div class="header-menu-item">
    <a href="#!/course-detail/-KIMnC0W_09BA9RQrjmq">
				<span> R tutorial </span>
		</a>
  </div>
  <div class="header-menu-item">
    <a href="#!/about">
			<span> About </span>
		</a>
  </div>
  <div class="header-menu-item" hide-xs ng-hide-auth style="margin-right:20px;">
    <a href="#!/login">
			<span> Login </span>
		</a>
  </div>
  <div class="header-menu-item" hide-xs ng-show-auth>
    <a href="#!/account">
			<span> Account </span>
		</a>
  </div>
  <div class="header-menu-item" hide-xs ng-show-auth>
    <a ng-click="logout()">
			<span> Logout </span>
		</a>
	</div>
	
	<!-- Menu -->
  <md-menu class="header-dropdown-menu" hide-gt-xs md-position-mode="target-right target">
    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <md-icon class="header-dropdown-menu-title" md-menu-origin md-svg-src="dImages/ionicIcons/android-menu.svg"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item ng-repeat="item in menus">
        <md-button ng-click="actionMenu(item)">
          <div layout="row" flex>
            <p flex>{{item.name}}</p>
            <md-icon class="header-drop-menu-item" md-menu-align-target md-svg-src="dImages/ionicIcons/android-menu.svg"></md-icon>
          </div>
        </md-button>
      </md-menu-item>
    </md-menu-content>
	</md-menu>
	
</section>
