<div class="menu-box block" style="padding:0px;"> <!-- MENU BOX (LEFT-CONTAINER) -->
    <h2 class="user-info">Account</h2>
    <ul class="menu-box-menu">
        <li>
            <a class="menu-box-tab">
                <md-icon class="icon" md-svg-src="dImages/ionicIcons/person.svg"></md-icon>
                <span>{{info.name}}</span>
                <div class="menu-box-number">{{boxMenu.messages.length}}</div>
            </a>
        </li>
        <li>
            <a class="menu-box-tab">
                <md-icon class="icon" md-svg-src="dImages/ionicIcons/person.svg"></md-icon>
                <span>School</span>
                <div class="menu-box-number">{{boxMenu.messages.length}}</div>
            </a>
        </li>
        <li>
            <a class="menu-box-tab">
                <md-icon class="icon" md-svg-src="dImages/ionicIcons/person.svg"></md-icon>
                <span>eMail</span>
                <div class="menu-box-number">{{boxMenu.messages.length}}</div>
            </a>
        </li>
        <li>
            <a class="menu-box-tab">
                <md-icon class="icon" md-svg-src="dImages/ionicIcons/person.svg"></md-icon>
                <span>Phone</span>
                <div class="menu-box-number">{{boxMenu.messages.length}}</div>
            </a>
        </li>
    </ul>
</div>