<md-content layout-padding class="main-container ge-lab-style">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <div class='menu-box'>
        <section>
            <div class="md-body-2">Instructor Page</div>
            <div class="md-body-2">Class</div>
            <div class="md-body-2"> Messages </div>
            <div class="md-body-2"> Total Views </div>
        </section>
    </div>

</md-content>
