<!--
About Page
(10/1) Remove style attrs - Kevin S.

-->
<md-content layout-padding class="main-container ge-lab-style">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <div class='menu-box'>
        <md-content class="menu-box">
            <div class="md-title"> People </div>
            <hr class="hr-red">
            <!--<div layout="row" layout-align="center start">-->
                <!--<md-whiteframe class="md-whiteframe-1dp" style="padding:10px;" flex layout="column" layout-align="center center">-->
                    <!--<div flex layout="row" style="width:100%;">-->
                        <!--<div flex="30" layout-margin ><img style="width: 100px; height:100px; border-radius: 50%;border: 3px #ff946c solid;" src="dImages/profile/kevin.jpg"> </div>-->
                        <!--<span flex="5"></span>-->
                        <!--<div flex>-->
                            <!--<h3>Kevin Son</h3>-->
                            <!--<ul style="list-style-type: none; padding:0px;">-->
                                <!--<li class="md-caption"><strong>Web Developer</strong></li>-->
                                <!--<li class="md-caption">South Dakota State University</li>-->
                                <!--<li class="md-caption">Department of Computer Science</li>-->
                                <!--<li class="md-caption">&nbsp;</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div flex style="width:100%;" layout layout-align="center center">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-button class="md-warn md-raised">Website</md-button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-button class="md-raised">Github</md-button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-button class="md-primary md-raised">Blog</md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<hr style="width: 100%"/>-->
                    <!--<div flex style="width:100%;">-->
                        <!--<div class="md-caption">-->
                            <!--<ul style="list-style-type: none; padding:0px;">-->
                                <!--<li> Email: eunwoo.son@sdstate.edu </li>-->
                                <!--<li> Tel: 1-931-400-3069 </li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-whiteframe>-->
                <!--<md-whiteframe class="md-whiteframe-1dp"  style="padding:10px;" flex layout="column" layout-align="center center">-->
                    <!--<div flex layout="row" style="width:100%;">-->

                        <!--<div flex="30" layout-margin ><img style="width: 100px; height:100px; border-radius: 50%;border: 3px #ff946c solid;" src="http://appsrvsp.sdstate.edu/onlinedirectory/Photo/Xijin_Ge.jpg"> </div>-->
                            <!--<span flex="5"></span>-->

                        <!--<span flex="5"></span>-->
                        <!--<div flex>-->
                            <!--<h3>Xigin Ge</h3>-->
                            <!--<div class="md-caption">-->
                                <!--<ul style="list-style-type: none; padding:0px;">-->
                                    <!--<li class="md-caption"> <strong>Associate Professor, Bioinformatics </strong></li>-->
                                    <!--<li class="md-caption"> South Dakota State University</li>-->
                                    <!--<li class="md-caption">Department of Mathematics and Statistics</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<span flex="5"></span>-->
                    <!--&lt;!&ndash;<div flex style="width:100%;" layout layout-align="center center">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-button class="md-warn md-raised">Website</md-button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-button class="md-raised">Blog</md-button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-button class="md-primary md-raised">Facebook</md-button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<hr style="width: 100%"/>-->
                    <!--<div flex style="width:100%;">-->
                        <!--<div class="md-caption">-->
                            <!--<ul style="list-style-type: none; padding:0px;">-->
                                <!--<li> Email: xijin.ge@sdstate.edu </li>-->
                                <!--<li> Tel: 1-605-688-5845 </li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-whiteframe>-->
            <!--</div>-->
        </md-content>
        <md-content class="menu-box">
            <div class="md-title"> Sponsored By </div>
            <hr class="hr-red">
            <div layout="row" layout-align="center center">
                <md-whiteframe class="md-whiteframe-1dp"  flex layout="column" layout-align="center center">
                    <div flex>
                        <img style="height:72px; width:auto;" src="dImages/logo/epscor.png">
                    </div>
                    <hr style="width: 100%"/>
                    <div flex style="width:100%;">
                        <div class="md-caption">
                            <ul style="list-style-type: none; padding:0px;">
                                <li>2301 Research Park Way Suite 157</li>
                                <li>Brookings, SD 57006</li>
                                <li>Tel: 605-688-6245</li>
                                <li>Website: http://sdepscor.org/</li>
                            </ul>
                        </div>
                    </div>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-1dp"  flex layout="column" layout-align="center center">
                    <div flex>
                        <img style="height:72px; width:auto;" src="dImages/logo/nsf.png">
                    </div>
                    <hr style="width: 100%"/>
                    <div flex style="width:100%;">
                        <div class="md-caption">
                            <ul style="list-style-type: none; padding:0px;">
                                <li>4201 Wilson Boulevard, Arlington </li>
                                <li>Virginia 22230</li>
                                <li>Tel: (703) 292-5111</li>
                                <li>Website: http://www.nsf.gov </li>
                            </ul>
                        </div>
                    </div>
                </md-whiteframe>
            </div>
        </md-content>
    </div>
</md-content>
