<md-content layout-padding
            style="overflow-x: hidden; height: 100%;
            padding: 24px; background-color: #fcda9d; color: #203e54;">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex"style="font-weight: 700">
                <a href="#/" >SDSU Statistics</a>
            </h2>
        </div>
    </md-toolbar>


    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Content Manage">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Content List</h1>
                    <md-input-container>
                        <label>Course Name</label>
                        <md-select md-on-open="loadContents()" md-on-close="evaluate(myModel)" name="myModel" ng-model="myModel" required>
                            <md-option ng-value="cnt.title" ng-repeat="cnt in contents">{{cnt.title}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-content>
                        <div ng-show="courseSelected === false" style="height: 500px;" layout="row" layout-align="center center">
                            <h3  class="md-title"> Choose Course Type </h3>
                            <p class="md-body-1"> ...</p>
                        </div>

                        <md-list ng-show="courseSelected === true">
                            <md-subheader class="md-no-sticky"># of Contents ({{course.length}})</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="item in course">
                                <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.topic }}</h3>
                                    <h4># of Material: {{ item.challenge.length }}</h4>
                                    <p># of Challenge: {{ item.material.length }}</p>
                                </div>
                                <md-button href="#/editCourse/{{myModel}}/{{item.$id}}"> Edit </md-button>
                            </md-list-item>
                            <md-divider ></md-divider>

                        </md-list>
                    </md-content>
                </md-content>
            </md-tab>


            <!-- New Content -->
            <md-tab label="New Content" md-on-select="reset()">
                <md-content class="md-padding">
                    <h1 class="md-display-2">New Content</h1>
                    <!--<md-input-container>-->
                        <!--<label>Course Name</label>-->
                        <!--<md-select md-on-close="evaluate(newMyModel)" name="newMyModel" ng-model="newMyModel" required>-->
                            <!--<md-option value="introProblem">Intro</md-option>-->
                            <!--<md-option value="visProblem">Visualization</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->

                    <md-content>

                        <form>
                            <md-input-container>
                                <label>Title of Content</label>
                                <input ng-model="newContentTitle">
                            </md-input-container>
                            <md-button class="md-raised" ng-click="submitNewContent(newContentTitle)"> Submit New Content </md-button>
                            <!--<md-button class="md-raised" ng-click="contentList()"> Reset </md-button>-->
                        </form>

                        <!--<md-input-container ng-show="newContentSelectTopic">-->
                            <!--<label>Course Name</label>-->
                            <!--<md-select md-on-close="evaluate(newMyModel)" name="newMyModel" ng-model="newMyModel" required>-->
                                <!--<md-option value="introProblem">Intro</md-option>-->
                                <!--<md-option value="visProblem">Visualization</md-option>-->
                            <!--</md-select>-->
                        <!--</md-input-container>-->

                        <!--<div ng-show="courseSelected === false" style="height: 500px;" layout="row" layout-align="center center">-->
                            <!--<h3  class="md-title"> Choose New Course Type </h3>-->
                            <!--<p class="md-body-1"> ...</p>-->
                        <!--</div>-->

                        <!--<div style="height: 500px;" layout="row" layout-align="center center">-->
                            <!--<h3  class="md-title"> Choose New Course Type </h3>-->
                            <!--<p class="md-body-1"> ...</p>-->
                        <!--</div>-->
                        <md-list>
                            <md-subheader class="md-no-sticky"># of Courses ({{contentsList.length}})</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="item in contentsList">
                                <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.title }}</h3>
                                </div>
                                <md-button disabled href="#/editCourse/{{myModel}}/{{item.$id}}"> Edit </md-button>
                                <md-button disabled ng-click="deleteContent($index)"> Remove </md-button>
                            </md-list-item>
                            <md-divider ></md-divider>

                        </md-list>

                    </md-content>
                </md-content>
            </md-tab>



            <md-tab label="Users">
                <md-content class="md-padding">
                    <h1 class="New Content">Users</h1>

                    <md-list>
                        <md-subheader class="md-no-sticky">3 line item</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="item in test">
                            <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ item.userFire.name }}</h3>
                                <h4>Role: {{ item.userFire.Role }}</h4>
                                <div>{{item.userFire_id}}</div>
                            </div>
                            <md-button href="#/userInfo/{{item.userFire_id}}"> Open </md-button>
                        </md-list-item>
                        <md-divider ></md-divider>
                    </md-list>
                </md-content>
            </md-tab>

            <md-tab label="Instructors">
                <md-content class="md-padding">
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
