<div layout-padding class="main-container" style="overflow-x: hidden; height: 100%; background:#fff; padding:0px;">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <md-content class='menu-box' style="margin-top: 8px; color:black; background: #fff;">
        <h3 class="md-title"> Contents </h3>
        <hr style="width:100%;"/>
        <div class="menu-container" layout="row" style="width:100%; margin:0px;"
             layout-xs="column" layout-margin="20" layout-align="center stretch">
            <md-list flex ng-cloak>
                <md-subheader class="md-no-sticky">Classes ({{classes.length}})</md-subheader>
                <md-list-item href="#/class/{{class.$id}}" ng-repeat="class in classes">
                    <p> {{class.title}} </p>
                </md-list-item>
            </md-list>

            <md-list flex ng-cloak>
                <md-subheader class="md-no-sticky">Courses ({{courses.length}})</md-subheader>
                <md-list-item href="#/course-detail/{{course.$id}}" ng-repeat="course in courses">
                    <p> {{course.title}} </p>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>