
<md-content layout-padding class="main-container"
                             style="overflow-x: hidden; height: 100%;
            padding: 24px; background-color: #1f253d; color: #203e54;">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <div style="    margin-bottom: 25px;
        margin: 0 auto;
        color:white;
        padding:8px;
        max-width:950px;
    border-radius: 5px;
    background: #394264;
    border-radius: 5px;">

    <md-content>
      {{classInfo}}
      <div>{{classInfo.title}}</div>
      <div>{{classInfo.description}}</div>
    </md-content>

  </div>

</md-content>
