<md-content layout-padding class="main-container"
                             style="overflow-x: hidden; height: 100%;
            padding: 24px; background-color: #1f253d; color: #203e54;">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <div style="    margin-bottom: 25px;
        margin: 0 auto;
        color:white;
        padding:8px;
        max-width:950px;
    border-radius: 5px;
    background: #394264;
    border-radius: 5px;">

    <md-content layout-padding>
        <h3 class="md-title">Course Information</h3>
        <div class="md-body-2">{{courseInfo.title}}</div>
        <div class="md-body-1">{{courseInfo.description}}</div>
    </md-content>

    <md-content layout-padding>
        <h3 class="md-title">Chapter List</h3>
        <div ng-repeat="ch in chapterList">
            <h4 class="md-body-2">{{ch.title}}</h4>
            <h4 class="md-body-1">Material List</h4>
            <ul>
                <li class="md-caption" ng-repeat="mat in ch.materials"> {{mat.title}}</li>
            </ul>
        </div>
    </md-content>
  </div>
</md-content>
