<div layout-padding class="main-container"
            style="overflow-x: hidden; height: 100%;
          background-color: #1f253d;
          color: #fff;">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <div style="    margin-bottom: 25px;
    margin-top: 25px;
        margin: 0 auto;
        color:white;
        padding:0px;
        max-width:950px;
    border-radius: 5px;
    background: #d9d6de;
    border-radius: 5px;">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Class">
                <md-content class="md-padding" style="color:white;">
                    <div class="md-title">Create Class</div>
                    <div layout="column" ng-cloak class="md-inline-form" style="padding:8px">
                        <md-content layout-padding style="overfolw:hidden">
                            <form name="classForm"  ng-submit="createClass()">
                                <div layout-gt-xs="row">
                                    <md-input-container>
                                        <label>Title</label>
                                        <input ng-model="class.title">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Instructor</label>
                                        <input ng-model="userInfo.displayName" disabled>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Description (optional)</label>
                                    <textarea ng-model="class.description" columns="1" md-maxlength="400" rows="5"></textarea>
                                </md-input-container>
                                <md-button type="submit">Create Class</md-button>
                            </form>
                        </md-content>
                    </div>

                    <div class="md-title">Update Class</div>
                    <div layout="column" layout-align="center center" style="height: 100px;">
                        <md-select placeholder="Select Class" ng-model="targetClass"
                                   md-on-open="loadClasses()" style="min-width: 200px;">
                            <md-option ng-value="classItem" ng-repeat="classItem in classes">
                                {{classItem.title}}
                            </md-option>
                        </md-select>
                    </div>


                    <section>
                        <div ng-show="targetClass !== null" layout="column" ng-cloak class="md-inline-form" style="padding:8px">

                            <md-content layout-padding style="overfolw:hidden">
                                <form name="classForm"  ng-submit="updateClass()">
                                    <div layout-gt-xs="row">
                                        <md-input-container>
                                            <label>Title</label>
                                            <input ng-model="targetClass.title">
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>Instructor</label>
                                            <input ng-model="targetClass.displayName" disabled>
                                        </md-input-container>
                                    </div>
                                    <md-input-container class="md-block">
                                        <label>Description (optional)</label>
                                        <textarea ng-model="targetClass.description" columns="1" md-maxlength="400" rows="5"></textarea>
                                    </md-input-container>
                                    <div layout-gt-xs="row">
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>Created At</label>
                                            <input ng-model="targetClass.createdAt" disabled>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>Updated At</label>
                                            <input ng-model="targetClass.updatedAt" disabled>
                                        </md-input-container>
                                    </div>
                                    <div layout-gt-xs="row">
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>Students</label>
                                            <input ng-model="targetClass.students.length" disabled>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>Courses</label>
                                            <input ng-model="targetClass.courses.length" disabled>
                                        </md-input-container>
                                    </div>
                                    <md-button type="submit">Create Class</md-button>
                                </form>
                            </md-content>
                        </div>
                    </section>
                </md-content>
            </md-tab>
            <md-tab label="Course">
                <md-content class="md-padding">
                    <!--<pre>{{classes}}</pre>-->
                    <div class="md-title">Create Course</div>
                    <div layout="column" ng-cloak class="md-inline-form" style="padding:8px">
                        <md-content layout-padding style="overfolw:hidden">
                            <form name="courseForm"  ng-submit="createCourse()">
                                <md-input-container class="md-block">
                                    <md-select name="parentClass"
                                               placeholder="Select Parent Class" ng-model="parentClass"
                                               style="min-width: 200px;">
                                        <md-option ng-value="classItem" ng-repeat="classItem in classes">
                                            {{classItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentClass.$error">
                                        <div ng-message="required">This is required. !!</div>
                                    </div>
                                </md-input-container>

                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block">
                                        <label>Title</label>
                                        <input required name="title" ng-model="course.title">
                                        <div ng-messages="courseForm.title.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Instructor</label>
                                        <input ng-model="course.instructor" disabled>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Description (optional)</label>
                                    <textarea ng-model="course.description" columns="1" md-maxlength="400" rows="5"></textarea>
                                </md-input-container>
                                <md-button type="submit">Create Course</md-button>
                            </form>
                        </md-content>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Chapter">
                <md-content class="md-padding">
                    <div class="md-title">Create Chapter</div>
                    <div layout="column" ng-cloak class="md-inline-form" style="padding:8px">
                        <md-content layout-padding style="overfolw:hidden">
                            <form name="chapterForm"  ng-submit="createChapter()">
                                <md-input-container class="md-block">
                                    <p> Select Class: <strong>{{parentClass.title}}</strong></p>
                                    <md-select  name="parentClass" placeholder="Select Parent Class" ng-model="parentClass"
                                               md-on-open="loadClassesForChapter()" style="min-width: 200px;">
                                        <md-option ng-value="classItem" ng-repeat="classItem in classesForChapter">
                                            {{classItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentClass.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>


                                <md-input-container ng-show="parentClass !== undefined" class="md-block">
                                    <p> Select Course </p>
                                    <md-select name="parentCourse" placeholder="Select Parent Course"
                                               ng-model="parentCourse" md-on-open="loadCourseForChapter(parentClass.$id)" style="min-width: 200px;">
                                        <md-option ng-value="courseItem" ng-repeat="courseItem in coursesForChapter">
                                            {{courseItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentCourse.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                                <div layout-gt-xs="row">
                                    <md-input-container>
                                        <label>Title</label>
                                        <input ng-model="chapter.title">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Instructor</label>
                                        <input ng-model="chapter.instructor" disabled>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Description (optional)</label>
                                    <textarea ng-model="chapter.description" columns="1" md-maxlength="400" rows="5"></textarea>
                                </md-input-container>
                                <md-button type="submit">Create Chapter</md-button>
                            </form>
                        </md-content>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Material">
                <md-content class="md-padding">
                    <div class="md-title">Create Material</div>
                    <div layout="column" ng-cloak class="md-inline-form" style="padding:8px">
                        <md-content layout-padding style="overfolw:hidden">
                            <form name="materialForm"  ng-submit="createMaterial()">

                                <md-input-container class="md-block">
                                    <p> Select Class </p>
                                    <md-select name="parentClass" placeholder="Select Parent Class" ng-model="parentClass"
                                               md-on-open="loadClassesForChapter()" style="min-width: 200px;">
                                        <md-option ng-value="classItem" ng-repeat="classItem in classesForChapter">
                                            {{classItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentClass.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>


                                <md-input-container ng-show="parentClass !== undefined" class="md-block">
                                    <p> Select Course </p>
                                    <md-select name="parentCourse" placeholder="Select Parent Course"
                                               ng-model="parentCourse" md-on-open="loadCourseForChapter(parentClass.$id)" style="min-width: 200px;">
                                        <md-option ng-value="courseItem" ng-repeat="courseItem in coursesForChapter">
                                            {{courseItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentCourse.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container ng-show="parentClass !== undefined" class="md-block">
                                    <p> Select Chapter </p>
                                    <md-select name="parentChapter" placeholder="Select Parent Chapter"
                                               ng-model="parentChapter" md-on-open="loadChapterForCourser(parentCourse.$id)" style="min-width: 200px;">
                                        <md-option ng-value="chapterItem" ng-repeat="chapterItem in chapterForCourse">
                                            {{chapterItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentCourse.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <div layout-gt-xs="row">
                                    <md-input-container>
                                        <label>Title</label>
                                        <input ng-model="material.title">
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Description (optional)</label>
                                    <textarea ng-model="material.description" columns="1" md-maxlength="400" rows="5"></textarea>
                                </md-input-container>
                                <md-button type="submit">Create Material</md-button>
                                <md-button type="button" ng-click="openChapter(parentCourse.$id)"> Go to Chapter</md-button>
                            </form>
                        </md-content>
                    </div>
                    </md-content>
            </md-tab>
            <md-tab label="Challenge">
                <md-content class="md-padding">
                    <div class="md-title">Create Challenge</div>
                    <div layout="column" ng-cloak class="md-inline-form" style="padding:8px">
                        <md-content layout-padding style="overfolw:hidden">
                            <form name="challengeForm"  ng-submit="createChallenge()">
                                <md-input-container class="md-block">
                                    <p> Select Class </p>
                                    <md-select  name="parentClass" placeholder="Select Parent Class" ng-model="parentClass"
                                               md-on-open="loadClassesForChapter()" style="min-width: 200px;">
                                        <md-option ng-value="classItem" ng-repeat="classItem in classesForChapter">
                                            {{classItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentClass.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container ng-show="parentClass !== undefined" class="md-block">
                                    <p> Select Course </p>
                                    <md-select name="parentCourse" placeholder="Select Parent Course"
                                               ng-model="parentCourse" md-on-open="loadCourseForChapter(parentClass.$id)" style="min-width: 200px;">
                                        <md-option ng-value="courseItem" ng-repeat="courseItem in coursesForChapter">
                                            {{courseItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentCourse.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container ng-show="parentClass !== undefined" class="md-block">
                                    <p> Select Chapter </p>
                                    <md-select name="parentChapter" placeholder="Select Parent Chapter"
                                               ng-model="parentChapter" md-on-open="loadChapterForCourser(parentCourse.$id)" style="min-width: 200px;">
                                        <md-option ng-value="chapterItem" ng-repeat="chapterItem in chapterForCourse">
                                            {{chapterItem.title}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="courseForm.parentCourse.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>

                                <div layout-gt-xs="row">
                                    <md-input-container>
                                        <label>Title</label>
                                        <input ng-model="challenge.title">
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Description (optional)</label>
                                    <textarea ng-model="challenge.description" columns="1" md-maxlength="400" rows="5"></textarea>
                                </md-input-container>
                                <md-button type="submit">Create Challenege</md-button>
                            </form>
                        </md-content>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>