<md-content layout-padding class="main-container"
            style="overflow-x: hidden; height: 100%; position: absolute; width:100%;
          background-color: #1f253d; color: #203e54;">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <md-content layout="column" layout-padding>
        <h3 class="md-title"> Examples </h3>
        <!--<a href="#/course-detail/-KILYcbFf8A6XXCftl5q"> R Foundation </a>-->
        <a href="#/course-detail/-KIMnC0W_09BA9RQrjmq"> R Basics </a>
    </md-content>
</md-content>