
<div layout="column" style="padding-bottom: 15px; height: 100%; background-color: #203e54;">
    <md-content layout-padding style="overflow: hidden; height: 100%; padding: 24px; background-color: #203e54; color: white;">

        <!--<div class="logo_container"><img class="logo" src="dImages/logosdsu.png"></div>-->
        <!--<div class="md-title"> Terms</div>-->
        <!--<p class="md-body-2">This material is based upon work supported by the National Science Foundation/EPSCoR Award No. IIA-1355423 and by the state of South Dakota. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>-->

        <!--<hr/>-->

        <div class="md-title"> Statistics </div>
        <p>
            Select a menu.
        </p>

        <div layout="column" layout-fill style="padding-bottom: 32px; color:black">
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                <span class="md-title">Statistics</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
                <div class="md-title">R Language</div>
                <br/>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
                <span class="md-title">Credit</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z4" layout layout-align="center center">
                <span class="md-title">Math</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center">
                <span class="md-title">Terms</span>
            </md-whiteframe>
        </div>




    </md-content>


    <!--<div class="device">-->
        <!--<div class="boxResponsive red">-->
            <!--<p>I am a "full screen" sliding panel-->
                <!--<code>{width:100%}</code></p>-->
        <!--</div>-->
        <!--<p>I represent the width of your device</p>-->
    <!--</div>-->
    <!--<div id="sliderText">Use the slider to change the width of the device</div>-->
    <!--<div id="slider"></div>-->

</div>

