<style>.course-title{color:black;}</style>
<md-content layout-padding class="main-container ge-lab-style">
  <div class="profile-container">
    <div class="main-container">
        <profile-header></profile-header>
    </div>
  </div>
  <!-- Content Directive  -->
  <main-cnt></main-cnt>
  <div class="pa2 black bg-light-yellow">
      <div class="f2 b">News</div>
      <div class="">STATSDSU release as OpenSource</div>
  </div>
  <div class="pa2 black bg-washed-green">
      <div class="f2 b">What's New</div>
      <div class="">Latest Published Lessons & Courses</div>
  </div>
  <div class="pa2 black bg-washed-red">
      <div class="f2 b">Unreleased Courses</div>
      <div class="">There are more courses being created for you.
          We will let you know as soon as they are complete and ready to watch.</div>
  </div>
  <!-- <msg></msg> -->
  <div class='menu-box'>
    <footer-stat></footer-stat>
  </div>
</md-content>
