<style>
    .boardSvg {
        width: 100%;
        height: 350px;
    }
    .boardSvg-xs{
        width: 100%;
        height: 200px;
    }
</style>
<md-content layout-padding class="main-container"
                             style="overflow-x: hidden; height: 100%;
          background-color: #1f253d; color: #203e54;">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <div class='menu-box' style="color:black; background: #ffd22e;">
        <div layout="column" layout-align="center center" layout-padding>
            <div ng-class="{'md-display-1':xsScreen, 'md-display-3':!xsScreen, }">Data Analytics Camp</div>
            <div ng-class="{'md-title':xsScreen, 'md-display-1':!xsScreen, }" style="    padding-top: 0px;padding-left: 8px;">for High School Students</div>
        </div>

        <md-icon md-svg-src="dImages/board.svg" ng-class="{'boardSvg': !xsScreen, 'boardSvg-xs': xsScreen}"></md-icon>

        <div layout="row" layout-align="center center">
            <div style="max-width: 600px;">
                It is a FREE 4-day summer camp. Food and lodging provided.
                You will learn some basic statistics and math topics. Have fun analyzing and visualizing data. Learn how to write computer programs through examples.
                Led by SDSU professors and graduate students, you will work in a computer lab at SDSU.
                Spaces are limited. So act fast.
                <br/>
            </div>
        </div>


        <div layout="row" layout-align="center center" layout-padding>
            <!--<md-button href="#/" href="#/registerForm" class="md-raised md-primary">Register Now</md-button>-->
            <!--<md-button disabled="true" href="#/registerForm" class="md-raised md-primary">Register Now</md-button>-->
        </div>

        <div  layout="column" layout-align="center center" layout-margin>
            <div layout="row">
                <div style="max-width: 600px;">
                    <div> <b>Date: June 27th ~ 30th </b></div>

                    <div> <b>Place: <a href="https://www.sdstate.edu/index/maps/upload/CampusMap.pdf" target="_blank">Solberg Hall</a>, South Dakota State University</b></div>
                    <div> <b>Contact at: <a href="mailto:Linda.Wendt@sdstate.edu">Linda.Wendt@sdstate.edu</a></b></div>
                    <div> <b>Facebook Page: <a href="https://www.facebook.com/SDSUstatistics" target="_blank"> Link</a></b></div>
                    <div> <b>Phone: (605) 688-6196</b></div>
                </div>
            </div>
            <br/>
            <br/>
            <div style="max-width: 600px;">This is supported by National Sciene Foundation through SD EPSCoR program, and also by SDSU Department of Mathmatics and Statistics</div>
            <div layout="column" layout-gt-xs="row" layout-margin>
                <img style="height:35px;" src="dImages/logo/epscor.png">
                <img style="height:35px;" src="dImages/logo/sdsu.png">
                <img style="height:35px;" src="dImages/logo/nsf.png">
            </div>
        </div>
    </div>
    <br>

    <!--<div class='menu-box' style="background: #4ea4eb;">-->
        <!--<div layout="column" layout-align="center center" layout-padding>-->
            <!--<div class="md-display-1" style="    padding-top: 0px;padding-left: 8px;">-->
                <!--<a href="#/class/-KAqMQ4NHiq9wQYUD43a">Day 1</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->

    <!--<div class='menu-box' style="background: #e394eb;">-->
        <!--<div layout="column" layout-align="center center" layout-padding>-->
            <!--<div class="md-display-1" style="    padding-top: 0px;padding-left: 8px;">-->
                <!--Day 2-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->

    <!--<div class='menu-box' style="background: #d32972;">-->
        <!--<div layout="column" layout-align="center center" layout-padding>-->
            <!--<div class="md-display-1" style="    padding-top: 0px;padding-left: 8px;">Day 3</div>-->
        <!--</div>-->
    <!--</div>-->
    <br>
</md-content>
