<md-content layout-padding class="main-container ge-lab-style">
  <div class="profile-container">
    <div class="main-container">
        <profile-header></profile-header>
    </div>
  </div>
  <div> 
    <a href="#!/course-detail/-KIMnC0W_09BA9RQrjmq">
      <span class="icon fontawesome-user scnd-font-color"></span>
      <span> R tutorial </span>
    </a>
  </div>
  <div> 
    <a href="#!/course-detail/-KIMnC0W_09BA9RQrjmq">
      <span class="icon fontawesome-user scnd-font-color"></span>
      <span> Apply T-SNE </span>
    </a>
  </div>
  <div> 
    <a href="#!/course-detail/-KzBARSdi3gix3OaSqLG">
      <span class="icon fontawesome-user scnd-font-color"></span>
      <span> Docker Basic </span>
    </a>
  </div>
  <div class='menu-box'>
    <footer-stat></footer-stat>
  </div>
</md-content>
