<br><br><br>
<style>
    .ace_editor { height: 120px; }
    .output{
        width: 100%;
        height: 500px;
    }
</style>

<div class="container">
    <div class="core-title">R and JS visualization</div>
    <div class="well">
        This page is a purpose of representing a various
        graph by using an R statistic programming language.

        The data will be go through computation server(OpenAPI.
        Once all the data is analyzed the result will be store
        on the temporal storage of the OpenAPI server.
    </div>
    <r-chart r-source="example1"></r-chart>
    <r-chart r-source="example2"></r-chart>
    <r-chart r-source="example3"></r-chart>
    <r-chart r-source="example4"></r-chart>


    <!--
    <div class="core-subtitle">example1</h2></div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div ng-model='example1' ui-ace="aceOptions">{{ example1 }}</div>
            <input type='submit' value='Submit' class='btn btn-success' ng-click='makeChart(1, example1)' />
        </div>
        <div class="col-md-8">
            <iframe class="output" id="output1" seamless></iframe>
        </div>
    </div>
    <br>
    <br>
    <div class="core-subtitle">example2</h2></div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div ng-model='example2' ui-ace="aceOptions">{{ example2 }}</div>
            <input type='submit' value='Submit' class='btn btn-success' ng-click='makeChart(2, example2)' />
        </div>
        <div class="col-md-8">
            <iframe class="output" id="output2" seamless></iframe>
        </div>
    </div>
    <div class="core-subtitle">example3</h2></div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div ng-model='example3' ui-ace="aceOptions">{{ example2 }}</div>
            <input type='submit' value='Submit' class='btn btn-success' ng-click='makeChart(3, example3)' />
        </div>
        <div class="col-md-8">
            <iframe class="output" id="output3" seamless></iframe>
        </div>
    </div>
    -->
</div>