<md-content layout-padding class="main-container"
            style="overflow-x: hidden; height: 100%;
          background-color: #1f253d; color: #203e54;">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>
    <div flex class="profile-container">
        <div class="main-container">
            <section layout="column" layout-gt-xs="row" layout-align="center start" layout-margin style="width:100%; max-width:941px;">
                <div class="profile-inner-container">
                    <profile-user-box></profile-user-box>
                </div>
                <div class="profile-inner-container">
                    <profile-menu-box></profile-menu-box>
                </div>
            </section>
        </div>
    </div>
</md-content>


