<md-content layout-padding
            style="overflow-x: hidden; height: 100%;
            padding: 24px; background-color: #fcda9d; color: #203e54;">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex"style="font-weight: 700">
                <a href="#/" >SDSU Statistics</a>
            </h2>
        </div>
    </md-toolbar>
    <md-content ng-cloak>

        <div ng-hide-auth>
            <md-button class="md-raised" href="#/login">로그인을 해주세요</md-button>
        </div>

        <div style="min-height:300px;" ng-show-auth>
            <div style="font-family: 'Open Sans', Helvetica, Arial;"
                 flex layout="column" layout-fill layout-align="center center">

                <div layout="row" style="width: 100%; max-width: 750px;" flex>
                    <h1 class="md-title">Reading Materials</h1>
                    <span flex></span>
                    <md-button class="md-primary md-raised" href="#/write"> new </md-button>

                </div>

                <div layout="column" style="width: 100%; max-width: 750px;">
                    <div flex ng-repeat="blog in blogs | orderBy:'-date'">
                        <div layout>
                            <span class="md-caption" style="margin-right:3px;">{{blog.date | date:"MM/dd/yyyy"}}</span>
                            <span flex="5"></span>
                            <a class="menu-link md-body-1"href="#/read/{{blog.$id}}">{{blog.title}}</a>
                            <span style="color:#d9831f; margin-left:3px;" ng-show="blog.views!== undefined">[{{blog.views}}]</span>
                            <span style="color:#33aed9; margin-left:2px;" ng-show="blog.cmts!== undefined">[{{blog.cmts}}]</span>
                            <span flex></span>
                            <span class="md-caption" style="margin-right:8px;">{{blog.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </md-content>
</md-content>