<md-content layout="column" style="background:white;"
            layout-align="center start">
    <div class="profile-container" style="width:100%;">
        <div class="main-container" style="max-width:1200px;">
            <profile-header></profile-header>
        </div>
    </div>

    <md-content layout="column" style="max-width:1200px;     margin: 0 auto; width:100%;">
        <md-content flex="70" class="content" style="width:100%; background:white; max-width:1200px;  padding:20px;"></md-content>
    </md-content>
</md-content>
