<div layout="column" style="overflow: hidden; position:relative; background-color: white;" flex layout-fill>
    <div class="profile-container">
        <profile-header></profile-header>
    </div>
    <!--<md-progress-linear md-mode="determinate" value="{{progressValue}}"></md-progress-linear>-->
    <md-content class="material-list-cnt" layout="column" layout-align="start center" style="padding: 10px; height: 100%;">
        <form style="max-width: 1200px;width: 100%;" ng-submit="submit()">
            <div layout="column" layout-align="center center">
                <h3 class="md-display-3">Exit Survey for Data Analytics Camp</h3>
                <br>
                <p style="font-size:18px">If you <strong>strongly disagree</strong> select <strong>1</strong>.  If you <strong>strongly agree</strong> with the following statements select <strong>5</strong>.</p>
                <br><br><br>
            </div>

            <hr/>

            <div style="padding:20px; background: #FFF" layout="column" layout-gt-sm="row" layout-align="start center">
                <span flex="5">#</span>
                <div flex="40" class="md-body-2"> Question </div>
                <span flex="10"></span>
                <div flex="35" layout="row" layout-align="space-between center">
                    <span class="md-caption" flex><strong>Disagree</strong></span>
                    <span class="md-caption" style="text-align: end" flex> <strong>Agree</strong></span>
                </div>
            </div>
            <style>
                .surveyRow:nth-child(even) {background: #CCC}
                .surveyRow:nth-child(odd) {background: #FFF}
            </style>
            <div class="surveyRow" style="padding:20px;" layout="column" layout-gt-sm="row" layout-align="start center" ng-repeat="r in radioData">
                <span flex="5"><strong>{{$index + 1 }}</strong></span>
                <div flex="40" class="md-body-2"> {{r.desc}}</div>
                <span flex="10"></span>
                <div flex="35" layout="column">
                    <md-radio-group layout="row" layout-align="space-around center" ng-model="r.select" class="md-primary">
                        <div ng-repeat="d in [1,2,3,4,5]">

                            <md-radio-button ng-value="d">
                                <span class="ipsum">{{d}}</span>
                            </md-radio-button>
                        </div>
                    </md-radio-group>
                </div>
            </div>
            <hr/>

            <md-input-container style="width:100%;">
                <label>My intended (most likely) major is</label>
                <input ng-model="survey.major">
            </md-input-container>
            <div><strong> I am a </strong></div>
            <div flex layout="column">
                <md-radio-group layout="row" layout-align="space-around center" ng-model="survey.gender" class="md-primary">
                    <div ng-repeat="d in ['female', 'male']">
                        <md-radio-button ng-value="d">
                            <span class="ipsum">{{d}}</span>
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>
            <hr/>

            <p>Please tell us in your words, how you think attending our data analytics camp. We can improve next camp in the future.</p>
            <md-input-container style="width:100%;">
                <label>Suggestion or Comment</label>
                <textarea ng-model="survey.msg" md-maxlength="1450" rows="5"></textarea>
            </md-input-container>
            <div style="max-width: 1200px;width: 100%;">
                <md-button class="md-raised md-warn" type="submit"> Submit </md-button>
            </div>
        <br>
        <br>
            <p> Thank you for your feedback. Please answer all the questions so that we can continue to improve what we do.</p>
        <br>
        <br><br>
        <br>
        <br>
        </form>
    </md-content>


</div>