<md-content layout-padding class="main-container"
            style="overflow-x: hidden; height: 100%;
            padding: 24px; background-color: #1f253d; color: #203e54;">
    <div class="profile-container">
        <div class="main-container">
            <profile-header></profile-header>
        </div>
    </div>


    <div layout="row" layout-sm="column">
        <div flex style="" class="course-ui-ace" ui-ace="aceOption" ng-model="code"></div>
    </div>

    <div style="    margin-bottom: 25px;
        margin: 0 auto;
        margin-left: 50px;
        margin-top:10px;
        color:white;
        padding:8px;
        max-width:950px;
    border-radius: 5px;
    background: #394264;
    border-radius: 5px;">
        <div layout="row" layout-align="center center" layout-padding>
            <div layout="column" flex>
                <h3 class="md-title"> Your Progress </h3>
                <p> You can check your progress report here and re-take each subject of courses</p>
                <div style="padding:10px; background-color:white">
                    <div flex id="chart_div" style="width: 100%;"></div>
                </div>
            </div>
        </div>

        <div ng-show="targetLabel!=null" layout="column" layout-align="center start" layout-padding>
            <h3 class="md-title"> Selected Course Information</h3>
            <div>
                <span>{{targetLabel}} : </span>
                <span>{{targetValue}}</span>
            </div>
        </div>


        <div style="height:300px;">
            <code-terminal></code-terminal>
        </div>
    </div>




</md-content>