<md-content layout="column" style="background-color:white; height:100%;">

    <p>Version 0.1</p>
    <md-button class="md-raised" href="#/course">course</md-button>

    <p> User Profile prototype </p>
    <md-button class="md-raised" href="#/profile">profile</md-button>

    <p> Quiz Module Examples </p>
    <md-button class="md-raised" href="#/quizTest">Quiz Example</md-button>

    <p> R visualization Example</p>
    <md-button class="md-raised" href="#/course/r-vis">Visualization Example </md-button>

    <p> Example of create plot image </p>
    <birds></birds>

    <p> Blog Style Content Editor</p>
    <md-button class="md-raised" href="#/super-editor-test"> Editor Tool </md-button>

</md-content>