<div layout="column" style="overflow: hidden; position:relative; background-color: white;" flex layout-fill>
    <div class="profile-container">
        <profile-header></profile-header>
    </div>
    <md-progress-linear md-mode="determinate" value="{{progressValue}}"></md-progress-linear>
    <md-content id="target" layout="row" style="padding: 20px; overflow:hidden; width:100%; height: 100%;">
        <vote-wall style="width:100%;"></vote-wall>
    </md-content>
    <style>
        .highlight {
            border: 5px red solid !important;
        }
        #slide {
            background-color:white;
            float: left;
            width: 100%;
            height: 100%;
        }
        .grid div {
            width: 100px;
            height: 100px;
            float: left;
            border: 5px black solid;
        }
    </style>
     <pre>
        <div id="out"></div>
    </pre>
</div>

