<md-content style="margin-bottom: 7px; background-color: white;">
    <div ng-show="tool" ng-hide="mode == 'read'">
        <md-button ng-click="editor = !editor">Edit</md-button>
        <md-button ng-click="deleteElement()">Delete</md-button>
        <md-button ng-click="runTest(SEC.code)"> TEST </md-button>
        <div>
            <md-checkbox ng-model="SEC.codeOnly">
                Code Only
            </md-checkbox>
            <md-checkbox ng-model="SEC.cmdCode">
                CMD Code
            </md-checkbox>
            <md-checkbox ng-model="SEC.visualCode">
                Visual Code
            </md-checkbox>
            <span>{{index}}</span>
        </div>
    </div>
    <h2 ng-show="false" contenteditable class="md-display-1" ng-model="SEC.title"></h2>
    <div>
        <div ng-show="false" contenteditable class="md-body-1" ng-model="SEC.desc"></div>
        <div layout="row" layout-sm="column">
            <div flex style="min-height: 40px; height:150px;" class="course-ui-ace" ui-ace="aceOption" ng-model="SEC.code"></div>
        </div>

        <div layout="row" layout-margin>
            <md-button ng-show="SEC.cmdCode" class="md-raised" ng-click="runOpenCpu(SEC)">Run Code </md-button><span ng-if="isRunning"><md-progress-circular ng-disabled="activate" class="md-hue-2" md-diameter="20px"></md-progress-circular></span>

            <md-button ng-show="SEC.visualCode" class="md-raised" ng-click="exePlot(SEC)">Draw Graph</md-button>
        </div>


        <!-- Result -->
        <div layout-gt-xs="row" layout-xs="column">
            <!--<md-virtual-repeat-container flex ng-show="SEC.cmdCode" style="-->
            <!--margin: 0px; height: 50px; width: 400px; background-color:#232323; color:white;" id="vertical-container">-->
                <!--<div ng-if="SEC.result.length > 1" md-virtual-repeat="item in SEC.result"-->
                     <!--class="repeated-item" flex>-->
                    <!--{{item}}-->
                <!--</div>-->
                <!--<div class="repeated-item" style="padding: 14px; letter-spacing: 3px; font-weight: bolder;" flex><span style="margin-right:4px;">  </span> {{SEC.result}} </div>-->
            <!--</md-virtual-repeat-container>-->
            <pre flex ng-if="SEC.result" >{{SEC.result}}</pre>
            <div flex ng-show="SEC.visualCode" flex class="plotdiv" style="padding: 10px; height: 350px; max-height: 390px; max-width:390px" class="md-whiteframe-3dp"></div>
        </div>
    </div>
    <!--<pre style="height:150px;"> {{SEC | json}}</pre>-->
</md-content>